<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Labs And Tutorials</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}

 
<div class="schedule-header-container">
    <h1 class="schedule-header">Labs/Tutorial</h1>
    <p class="schedule-subtitle">There are weekly labs conducted in person.</p>
    <p class="schedule-subtitle">Tutorials will not be submitted or marked.</p>
    <p class="schedule-subtitle">Attend at least 7 tutorials.</p>
</div>
  

<div class="week-item">
    <div class="week-title">Week 2</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 1</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_1</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 3</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 2</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_2</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 4</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 3</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_3</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 5</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 4</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_4</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 6</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 5</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_5</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 7</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 6</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_6</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 8</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 7</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_7</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 9</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 8</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_8</a></div>
</div>

<div class="week-item">
    <div class="week-title">Week 10</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 9</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_9</a></div>
</div>


<div class="week-item">
    <div class="week-title">Week 11</div>
    <div class="week-separator"></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tutorial 10</a></div>
    <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Tut_solu_10</a></div>
</div>


{% endblock content %}
</body>
</html>