<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>News</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  
  <div class="course-header">
    <h2 class="course-title">January 2, 2018</h2>
    <p class="course-description">
        Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. 
    </p>
  </div>

  <div class="course-header">
    <h2 class="course-title">February 15, 2018</h2>
    <p class="course-description">
    Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. 
    </p>
  </div>

  <div class="course-header">
    <h2 class="course-title">March 15, 2018</h2>
    <p class="course-description">
        Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the. Off nay impossible dispatched partiality unaffected. Norland adapted put ham cordial. Ladies talked may shy basket narrow see. Him she distrusts questions sportsmen. 
    </p>
  </div>

{% endblock content %}
</body>
</html>
    