<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Syllabus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  
  <div class="schedule-header-container">
    <h1 class="schedule-header">Tentative Schedule</h1>
    <p class="schedule-subtitle">Topics covered in the course:</p>
    <p class="schedule-note"><strong>Note:</strong> The Schedule given below is tentative and subject to change.</p>
  </div>
  
  
    <div class="week-item">
      <div class="week-title">Week 0</div>
      <div class="week-separator"></div>
      <div class="week-topic">Introduction –  <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Databases</a>,  <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Relational Model</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 1</div>
      <div class="week-separator"></div>
      <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Relational Model,</a>  <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Relational Algebra</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 2</div>
      <div class="week-separator"></div>
      <div class="week-topic"> <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Relational Algebra Queries</a> and <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">SQL Query Language</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 3</div>
      <div class="week-separator"></div>
      <div class="week-topic"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">SQL Query Language</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 4</div>
      <div class="week-separator"></div>
      <div class="week-topic">SQL and <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Introduction to web development</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 5</div>
      <div class="week-separator"></div>
      <div class="week-topic">Introduction to <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">HTML</a> and <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">CSS</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Mid-term Exam</div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 6</div>
      <div class="week-separator"></div>
      <div class="week-topic"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">HTML</a>, <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">CSS</a>, <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Box Model</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 7</div>
      <div class="week-separator"></div>
      <div class="week-topic"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Introduction to Flask</a>, <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Flexbox and Media Queries</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 8</div>
      <div class="week-separator"></div>
      <div class="week-topic">Flask and <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Introduction to JavaScript</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 9</div>
      <div class="week-separator"></div>
      <div class="week-topic"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Integrating Flask and SQL</a></div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 10</div>
      <div class="week-separator"></div>
      <div class="week-topic"><a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures/w5.pdf" class="syllabus-link">Flask and SQL</a>, examples</div>
    </div>
    <div class="week-item">
      <div class="week-title">Week 11</div>
      <div class="week-separator"></div>
      <div class="week-topic">Wrap-up</div>
    </div>
  </div>

{% endblock content %}
</body>
</html>
    